a, input{
    display: block;

}

img{
    width: 30rem;
}

table, tr, td, th{
    border: 2px solid pink;
    border-collapse: collapse;
}

div.message{
    color: tomato;
    font-size: large;
    font-weight: bold;
}