<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsivo.css')}}">
</head>
<body>
    <header>
        <p>CRUD DO PEDRO LILÓ</p>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/filme">Filme</a>
    </nav>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>

    <footer>
        <label>&#169; Copyleft<label>
    </footer>
</body>
</html>