{% extends "base.html" %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages()%}
    <form action="/filme/editasave" method="post">
        <fieldset class="edita">
            <input type="hidden" name="id_filme", value="{{dados.id_filme}}">
            <div>
                <label for="titulo">Titulo: </label>
                <input type="text" name="titulo" id="titulo", value="{{dados.titulo}}">
            </div>
            <div>
                <label for="text">Diretor: </label>
                <input type="diretor" name="diretor" id="diretor", value="{{dados.diretor}}">
            </div>
            <div>
                <label for="ano_lancamento">ano_lancamento: </label>
                <input type="number" name="ano_lancamento" id="ano_lancamento", value="{{dados.ano_lancamento}}">
            </div>
            <div>
                <button type="submit">Salvar</button>
            </div>
        </fieldset>
    </form>
    {% if mensagens%}
        {% for msg in mensagens%}
            <div class="message">
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
